@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
}

#vidBack {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
    
section{
    height:100%;
    width:100%;
    position: fixed ; 
    background-color: rgba(0, 0, 0, 0.5);
}

#welcomeP {
    background:radial-gradient(#333,#000);
}

.header {
    position:absolute ;
    top:25%;
    width:100%;
    font-family: 'Courgette', cursive;
    text-align:center;
    transform:translate ;
    color: white;
    transform:translateY (-50%);
}

#main {
    top:20%;
}
    
h1 {
    font-size: 4.5em;
    line-height: 70%;
}

h3 {
    font-size: 2em;
    line-height: 40%;
}
    
button {
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: cursive;
    font-weight: bold;
    color: white;
    font-size: 1em;
    margin: 1.5em 2em;
    border-color: white;
    border-width: 10px;
}

button:hover {
    font-size: 1.1em;
    color: darkslategray;
}

#player {
    min-width: 100px;
}
    
.leaf{
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.leaf div{
    position:absolute ;
    display:block ;
}

.leaf div:nth-child(1){
    left:30%; 
    animation:fall 20s linear infinite ;
    animation-delay:-2s;    
}

.leaf div:nth-child(2){
    left:70%; 
    animation:fall 20s linear infinite ;
    animation-delay:-4s;
 }

.leaf div:nth-child(3){
    left:5%; 
    animation:fall 25s linear infinite ;
    animation-delay:-7s;   
}

.leaf div:nth-child(4){
    left:60%; 
    animation:fall 23s linear infinite ; 
    animation-delay:-5s;
}

.leaf div:nth-child(5){
    left:80%; 
    animation:fall 19s linear infinite ;
    animation-delay:-5s;
}

.leaf div:nth-child(6){
    left:15%; 
    animation:fall 21s linear infinite ;
    animation-delay:-10s;
}

.leaf div:nth-child(7){
    left:90%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}
    
@keyframes fall{
    0%{
        opacity:1;
        top:-10%;
        transform:translateX (20px) rotate(0deg);
    }
    20%{
        opacity:0.8;
        transform:translateX (-20px) rotate(45deg);
    }
    40%{
        transform:translateX (-20px) rotate(90deg);
        }
    60%{   
        transform:translateX (-20px) rotate(135deg); 
    }
    80%{
        transform:translateX (-20px) rotate(180deg);
    }
    100%{ 
        top:110%;
        transform:translateX (-20px) rotate(225deg);
    }

}

.leaf1 {
    transform: rotateX(180deg);
}
    

    @media screen and (max-width: 800px) {
        h3 {
            font-size: 1.5em;
        }
        h1 {font-size: 3em;
        }
       }

    @media screen and (max-width: 600px) {
        h3 {
            font-size: 1em;
        }
         h1 {font-size: 2em;
        }
    }

    @media screen and (max-width: 350px) {
        h3 {
            font-size: 0.75em;
        }
        h1 {font-size: 1.5em;
        }
        #player {
            height: 2em ;
            margin-top: 1em;
        }
        button {
            border-radius: 20px;
            padding: 0.3em 0.75em;
            font-size: 0.75em;
            margin: 1.5em;
            border-width: 5px;
        }
        button:hover {
            font-size: 0.85em;

        }
    }